---

import Layout from "../layouts/Main.astro"

import CSS_Common      from "../styles/common.css?url"
import CSS_Production  from "../styles/production.css?url"
import CSS_Development from "../styles/development.css?url"

const is_Production   = (process.env["ExecutionContext"] === "Production")
const CSS_Environment = (is_Production ? CSS_Production : CSS_Development)

---


<head>
	<link rel="stylesheet" href={CSS_Common     } as="style"/>
	<link rel="stylesheet" href={CSS_Environment} as="style"/>
</head>

<Layout title="CSS">
	<h1>{"CSS"}</h1>
</Layout>
