---

import Layout from "../layouts/Main.astro"

---


<head>
	<meta charset="utf-8"/>
	<link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
	<meta name="viewport" content="width=device-width"/>
	<title>Astro</title>
</head>

<Layout title="SCSS Issue Demo">
	<ul>
		<li><h1><a href="/CSS" >{"CSS "}</a></h1></li>
		<li><h1><a href="/SCSS">{"SCSS"}</a></h1></li>
	</ul>
</Layout>
