---

import Layout    from "layouts/Main.astro"
import Style_URL from "./Style.css?url"

---


<head>
	<meta charset="utf-8"/>
	<link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
	<meta name="viewport" content="width=device-width"/>
	<title>Astro</title>

	<link rel="stylesheet" href={Style_URL} as="style"/>
</head>

<Layout title="SCSS Issue Demo">
	<nav>
		<a href="/CSS" >{"CSS "}</a>
		<a href="/SCSS">{"SCSS"}</a>
	</nav>
</Layout>
